<mat-nav-list>
    <a routerLink="/user" mat-list-item (click)="onSidenavClose()">
        <mat-icon>personne</mat-icon>
        <a matline></a> <span class="nav-caption">Gestion d’utilisateurs</span>
    </a>

    <mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>touch_app</mat-icon>
        <a matline>
           Gestion les Composants</a>
    </mat-list-item>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSidenavClose()" routerLink="/coordonne">Gestion les Coordonnes</button>
        <button mat-menu-item (click)="onSidenavClose()" routerLink="/page">Gestion les Pages</button>
        <button mat-menu-item (click)="onSidenavClose()" routerLink="/theme">Gestion les Themes</button>
        <button mat-menu-item (click)="onSidenavClose()" routerLink="/type">Gestion les Types</button>
    </mat-menu>

    <mat-list-item [matMenuTriggerFor]="men">
        <mat-icon>touch_app</mat-icon>
        <a matline>
           Gestion les Fonctionalites</a>
    </mat-list-item>

    <mat-menu #men="matMenu">
        <button mat-menu-item (click)="onSidenavClose()">Gestion les Factures</button>
        <button mat-menu-item (click)="onSidenavClose()">Gestion les Commandes</button>

    </mat-menu>
    <a mat-list-item (click)="onSidenavClose()">
        <mat-icon>attach_money</mat-icon> <span class="nav-caption">Gestion les Abonnments</span>
    </a>

</mat-nav-list>