<div class="card" style="width: 60rem;" style="margin-top:30" style="margin-bottom:30" style="margin-left:40" style="margin-right:30">
    <div class="card-body" style="width: 60rem;" style="margin-top:30" style="margin-bottom:30">
        <div>
            <div class="jumbotron py-2">
                <div class="example-flex-container">
                    <div class="example-button-container">
                        <a mat-button mat-raised-button mat-button color="primary" routerLink="/board-admin">Retour</a>
                    </div>
                    <div class="example-button-container">
                        <a mat-button mat-raised-button mat-button color="primary" routerLink="addTheme">Ajouter</a>
                    </div>

                </div>
                <h1 class="display-4 text-center">Les Themes de site web </h1>

                <div class="row" style="width: 60rem;" style="margin-top:30" style="margin-bottom:10">
                    <app-member-form></app-member-form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let theme of   themes">
                                <td> {{theme.id}}</td>
                                <td> {{theme.theme}}</td>



                                <td>
                                    <div class="example-button-container">
                                        <button mat-icon-button color="primary" (click)="onUpdate(theme.id)">
                                          <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div class="example-button-container">
                                        <button mat-icon-button color="warn">
                                        <mat-icon  (click)="onDelete(theme.id)">delete</mat-icon>
                                        </button>
                                    </div>
                                </td>

                            </tr>
                        </tbody>

                    </table>
                    <td>
                        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
                        </mat-paginator>
                    </td>
                </div>
            </div>
        </div>