<div class="demo10">
    <div class="container">
        <h4 class="py-4 text-center">Tableau des prix</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">12 mois</h3>
                        <span class="price-value">
                            <span class="currency">$</span> 4.99
                        <span class="month">/mois</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>50GB Disk Space</li>
                            <li>50 Email Accounts</li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">6 mois</h3>
                        <span class="price-value">
                            <span class="currency">$</span> 7.49
                        <span class="month">/mois</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>60GB Disk Space</li>
                            <li>60 Email Accounts</li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">1 mois</h3>
                        <span class="price-value">
                            <span class="currency">$</span>14.99
                        <span class="month">/mois</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>70GB Disk Space</li>
                            <li>70 Email Accounts</li>

                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>