<app-layout>
    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
            <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
            <main>
                <router-outlet></router-outlet>
                <div *ngIf="!isrole">
                    <app-started></app-started>
                </div>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</app-layout>


<!-- <div>

    <navc id="sidebarMenu" class="collapse d-lg-block sidebar ">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a routerLink="/user" class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Gestion d’utilisateurs</span>
                </a>
                <a routerLink="/profile" class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Mon Profile</span>
                </a>

            </div>
        </div>
    </navc>
</div> -->

<!-- <mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a>Sofia Technologies </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/profile">Mon  Profile</a>
            </li>
            <li>
                <a mat-button mat-raised-button mat-button color="accent" routerLinkActive="active" (click)="logout()">DÉCONNEXION</a>
            </li>
        </ul>
    </div>
</mat-toolbar> -->
<!-- <div>

    <mat-toolbar color="primary" class="app-header">
        <div fxHide.gt-xs>
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div><a target="_blank" class="positronx">Sofia Technologies </a></div>

        <span class="nav-tool-items">
            <div>
                
            </div>
            
                <a mat-button mat-raised-button routerLink="" routerLinkActive="active" (click)="logout()">DÉCONNEXION</a>
        </span>

    </mat-toolbar>

</div> -->