<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Modifier les Categorie de site web </mat-card-title>
        </mat-card-header>
        <form #f="ngForm" class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="id" #z="ngModel" required matInput placeholder="id" name="id">
                    <div *ngIf="z.invalid && z.touched" class="alert alert-danger"> </div>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="theme" #in="ngModel" required matInput placeholder="theme" name="theme">
                    <div *ngIf="in.invalid && in.touched" class="alert alert-danger"> </div>
                </mat-form-field>

            </mat-card-content>
            <button [disabled]="f.invalid" mat-stroked-button color="accent" class="btn-block" (click)="Update(f)">Modifier</button>
        </form>
    </mat-card>
</div>