<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Ajouter User</mat-card-title>
        </mat-card-header>
        <form #f="ngForm" class="example-form" (ngSubmit)="save(f)">
            <mat-card-content>

                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="firstName" #in="ngModel" required matInput placeholder="firstName" name="firstName">
                    <div *ngIf="in.invalid && in.touched" class="alert alert-danger"> </div>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="lastName" #i="ngModel" required matInput placeholder="lastName" name="lastName">
                    <div *ngIf="i.invalid && i.touched" class="alert alert-danger"> </div>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="email" #n="ngModel" required matInput placeholder="email" name="email">
                    <div *ngIf="n.invalid && n.touched" class="alert alert-danger"> </div>
                </mat-form-field>


            </mat-card-content>
            <button [disabled]="f.invalid" mat-stroked-button color="accent" class="btn-block">Enregistrer</button>
            <button mat-stroked-button color="accent" class="btn-block" type="submit" routerLink="/type">Retour</button>
        </form>
    </mat-card>
</div>